<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../view/css/layout_style.css">
        <title>AlmoxarifeControl</title>
      
    </head>
    <body>
         
         <button class="nav-btn open-btn">
            <i class="topnav"></i>
        </button>

         <div class="nav nav-black">
             <div class="nav nav-gray">
                    <button class="nav-btn close-btn">
                        <i class="topnav"></i>
                    </button>
             </div>
         </div>

         
        <script src="../scripts/Layout.js"></script>
    </body>
</html>